<!DOCTYPE html>
<html>
<body>

<p id="demo"></p>

<script>

// const event = Date.parse(' 05, 2021');

// var startDate = "Nov 03,2021";
//     var convertedStartDate = new Date(startDate);
//     var month = convertedStartDate.getMonth()+1;
//     var day = convertedStartDate.getDate();
//     var year = convertedStartDate.getFullYear();
//     var shortStartDate =  year+ "/" +  month+ "/" + day;

//     console.log(convertedStartDate)
//     console.log(shortStartDate)

var s = Math.floor(Math.random()*5000)
console.log(s)

</script>

</body>
</html>
