<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        table{
        width: 100%;
        border: 1px;
        border-style: solid;
    }
    table td{
        border: 0.5px;
        border-style: solid;
    }
    .KeyWordform{
        padding-top: 10px;

    }
    body{
        background-color:#F5F5F5;
    }
    form{
      margin-left: 10px;
      margin-top: 20px;
    }
</style>
<body>
<div class= "box">
    <h3>新增Reviewer</h3>

      <div id="infobar" class="alert alert-success" role="alert" style="display: none"></div>

    <form class="myForm" id ="myForm">
      <div class="form-group">
        <label for="Manuscript_Number"><span class="red-stars">**</span>Manuscript Number: </label>
        <input type="text" class="Manuscript_Number" id="Manuscript_Number" size="30" >
      </div>                                                                                                                                                                                                                                                                                                                                                                                     
        <div class="form-group">
          <label for="formGroupExampleInput">Name: </label>
          <input type="text" class="Name" id="Name" size="30">
          <!-- <button type="button" class="btn btn-outline-secondary btn-sm" size="25" onclick="Namebtn()" >查詢Name</button> -->
          <button type="button" class="btn btn-outline-success btn-sm" size="25" onclick= "openwin()">查詢Name清單</button>
        </div>
        <div class="form-group">
        <label for="formGroupExampleInput2">Name_Id:</label>  
        <!-- <button type="button" class="btn btn-link" size="25" onclick="Nameclean()" >清除Name</button>   -->
        <input name="Name_Id" id="Name_Id"  readonly  unselectable="on">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Affiliated Institution: </label>
          <input type="text" class="Affiliated_Institution" id="Affiliated_Institution" size="30">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Email: </label>
            <input type="text" class="Email" id="Email"size="30" >
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Country: </label>
            <input type="text" class="Country" id="Country"size="30" >
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput2">Invited Date: </label>
            <input type="text" class="Invited_Date" id="Invited_Date"size="30">
          </div>
          <!-- <div class="form-group">
            <label for="formGroupExampleInput2">Responsed</label>
            <input type="text" class="Responsed" id="Responsed"size="30" >
          </div> -->

          <div class="form-group">
            <label for="formGroupExampleInput2">Responsed: </label>
                <select id="Responsed" class="Responsed" name="Responsed">
                    <option>Inviting</option>
                    <option>Agree</option>
                    <option>Decline</option>
                    <option>Uninvited</option>		
                </select>
            </div>

          <div class="form-group">
            <label for="formGroupExampleInput2">Responsed Date: </label>
            <input type="text" class="Responsed_Date" id="Responsed_Date"size="30">
          </div>
          <!-- <div class="form-group">
            <label for="formGroupExampleInput2">Decision: </label>
            <input type="text" class="Decision" id="Decision" size="30">
          </div> -->
          <div class="form-group">
            <label for="formGroupExampleInput2">Decision: </label>
                <select id="Decision" class="Decision" name="Decision">
                    <option></option>
                    <option>Reject</option>
                    <option>Major</option>
                    <option>Minor</option>
                    <option>Accept</option>		
                </select>
            </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Completed Date: </label>
            <input type="text" class="Completed_Date" id="Completed_Date"size="30">
          </div>

          <button type="submit" class="btn btn-primary" id="btn"  value="送出表單" >新增Reviewer</button> 
      </form>

      <form action="/ReviewEdit1" method="POST">
        <h4 class="Manuscript_Title">輸入要修改的Review:</h4>
          <div class="form2" id="TextBoxDiv2">
          <input type="text" class="Manuscript_Number" name="Manuscript_Number" size="30" placeholder="Manuscript_Number">
          </div>
        <div class="form2" id="TextBoxDiv2">
        <input type="text" class="Name" name="Name" size="30" placeholder="Name" style="margin-top: 10px;">
        </div>
        <button type="submit" class="btn btn-outline-success" style="margin-top: 10px;">送出</button>
      </form>
</div>          
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>

var btn = document.getElementById('btn');
btn.onclick = function () {
this.style.display = 'none';
};

　function openwin() {
　　window.open ("Name_list1", "Name_list1", "height=700, width=1000, toolbar =no, menubar=no, scrollbars=no, resizable=no, location=no, status=no") 
　　}

 document.getElementById('myForm');

myForm.addEventListener('submit',evt=>{
  evt.preventDefault()
  const form = evt.target
  const infobar = $('#infobar');

  var Sid = form.elements.Name_Id.value;
  if(Sid === ''){
    Sid = Math.floor(Math.random()*99999);
  }

  var startInvited = form.elements.Invited_Date.value;
    var convertedStartDate = new Date(startInvited);
    var month = convertedStartDate.getMonth()+1;
    var day = convertedStartDate.getDate();
    var year = convertedStartDate.getFullYear();
    var Invited_Date =  year+ "/" +  month+ "/" + day;
    if(Invited_Date === "NaN/NaN/NaN"){
      Invited_Date=""
    }

    var startResponsed = form.elements.Responsed_Date.value;
    var convertedStartDate = new Date(startResponsed);
    var month = convertedStartDate.getMonth()+1;
    var day = convertedStartDate.getDate();
    var year = convertedStartDate.getFullYear();
    var Responsed_Date =  year+ "/" +  month+ "/" + day;
    if(Responsed_Date === "NaN/NaN/NaN"){
      Responsed_Date=""
    }


    var startCompleted = form.elements.Completed_Date.value;
    var convertedStartDate = new Date(startCompleted);
    var month = convertedStartDate.getMonth()+1;
    var day = convertedStartDate.getDate();
    var year = convertedStartDate.getFullYear();
    var Completed_Date =  year+ "/" +  month+ "/" + day;
    if(Completed_Date === "NaN/NaN/NaN"){
      Completed_Date=""
    }



  const body = JSON.stringify({
    Manuscript_Number: form.elements.Manuscript_Number.value,
    Name: form.elements.Name.value,
    Name_Id:Sid,
    Affiliated_Institution: form.elements.Affiliated_Institution.value,
    Email: form.elements.Email.value,
    Country: form.elements.Country.value,
    Invited_Date: Invited_Date,
    Responsed: form.elements.Responsed.value,
    Responsed_Date: Responsed_Date,
    Decision: form.elements.Decision.value,
    Completed_Date: Completed_Date
  })

  const headers = {'Accept': 'application/json',"Content-type":"application/json; charser=UFT-8"}
  const container = 
    document.getElementById('myForm')
    let isPass= true;
    if(form.elements.Manuscript_Number.value.length < 4){
      isPass = false;
      alert('Manuscript_Number格式錯誤')
    }
    if(isPass){
    fetch('/Reviewadd',{method:'post',body,headers})
    .then(resp=>{
      if(resp.statuse<200||resp.status>=300)
      throw new Error(`Request Fail with status${resp.stastatuse}`)
    })
    .then(json=>{
      console.log(json)
    })
    .then(obj => {
                    console.log(123456789)
                    console.log(obj);
                    if (obj='undefined') {
                        infobar.html('新增成功');
                        infobar.removeClass('alert-danger').addClass('alert-success');
                        setTimeout(() => {
                          document.getElementById("Name").value  ="";
                          document.getElementById("Name_Id").value  ="";
                          document.getElementById("Email").value  ="";
                          document.getElementById("Affiliated_Institution").value  ="";
                          document.getElementById("Country").value  ="";
                          document.getElementById("Invited_Date").value  ="";
                          document.getElementById("Responsed").value  ="";
                          document.getElementById("Decision").value  ="";
                          document.getElementById("Completed_Date").value  ="";
                          document.getElementById("Responsed_Date").value  ="";
                          document.getElementById('btn').style = 'display: ture';
                        }, 3000)
                    } else {
                        infobar.html('新增失敗');
                        infobar.removeClass('alert-success').addClass('alert-danger');
                    }
                    infobar.slideDown();
                    setTimeout(() => {
                        infobar.slideUp();
                    }, 2500)
                })
    .catch(function(error){
      console.log(error);
    });
  }
});

// function Namebtn(){
// var $Name = $('#Name');
// var $Name_Id = $('#Name_Id');
// var $Email = $('#Email');
// var $Affiliated_Institution = $('#Affiliated_Institution');
// var $Country = $('#Country');


// const nameElement = document.getElementById("Name");
// const name = nameElement.value;
// const Name_IdElement = document.getElementById("Name_Id");
// const Name_Id = Name_IdElement.value;


// const url_api = `http://140.112.92.40:3333/Namesearch/${name}`;
// // console.log(url_api)

// $.ajax({
//   type:'get',
//   dataType:'json',
//   url:url_api,
// })
//   .done(function(data){
//     var nbdata = data[0]


//     $.each(nbdata, function(value,data){
      
//       var datalen = data

//       if(document.getElementById("Name").value='')
//       {
//         $('#Name_Id').options.length = 0;
//       }
//         else{
//           document.getElementById("Name").value = data.Name
//           $('#Name_Id').append('<option value="'+data.Name_Id+'">'+data.Name_Id+'</option>')
//           //   if($('#Name_Id').value = 35840){
//           // document.getElementById("Email").value = 35840;
//           // document.getElementById("Affiliated_Institution").value = 35840;
//           // document.getElementById("Country").value =  35840;
//           //   }
//         }
//     })
//   })
// }


// $(document).on('click', '#Name_Id', function(){
//   const nameElement = document.getElementById("Name");
//   const name = nameElement.value;
//   var Name_Id = $(this).val();

//   const url_api = `http://140.112.92.40:3333/Namesearch/${name}/${Name_Id}`;
//   $.ajax({
//   type:'get',
//   dataType:'json',
//   url:url_api,
// })

// .done(function(data){
//   if($('#Name_Id').value = Name_Id){
//     document.getElementById("Email").value = (data[0][0].Email);
//     document.getElementById("Affiliated_Institution").value = data[0][0].Affiliated_Institution;
//     document.getElementById("Country").value =  data[0][0].Country;
//     console.log(data[0][0])
// }
// })
//   })

  function Nameclean(){
    document.getElementById("Name_Id").innerHTML = "";
    document.getElementById("Email").value ="";
    document.getElementById("Affiliated_Institution").value ="";
    document.getElementById("Country").value ="";
  }

    </script>

</html>