<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form action="/SummaryTable" method="POST">
        <h4 class="Name">請輸入想查詢的Manuscript_Number:</h4>
        <div class="form2" id="TextBoxDiv2">
            <input type="text" class="Manuscript_Number" name="Manuscript_Number" size="30" placeholder="Manuscript_Number" style="margin-top: 10px;">
            <button type="submit" class="btn btn-outline-success" style="margin-top: 10px;">送出</button>
        </div>
      </form>
</body>
</html>